body {
	margin: 0;
	box-sizing: border-box;
}

.wrapper {
	min-height: 100vh;
	overflow: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #8a2387; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to left,
		#f27121,
		#e94057,
		#8a2387
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to left,
		#f27121,
		#e94057,
		#8a2387
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media (min-width: 768px) {
	form {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.content__group1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 100%;
}

.content__group2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 100%;
	margin-top: 3em;
}

.content__labelBinary {
	padding: 10px;
	font-size: 1.6em;
	text-align: center;
}
.content__labelDecimal {
	padding: 10px;
	font-size: 1.6em;
	text-align: center;
}
.content__input {
	padding: 0.5em;
	font-size: 1.2em;
	margin: 1em;
}

.content__output {
	padding: 0.5em;
	font-size: 1.2em;
	margin: 1em;
	flex-basis: 50%;
}
.content__button {
	border-radius: 4px;
	font-size: 1.5em;
	color: rgb(66, 184, 221);
	background: transparent;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	padding: 5px;
	border: 2px solid rgb(66, 184, 221);
}

.content__button:hover {
	background: rgb(66, 184, 221);
	color: white;
	transform: translateY(-0.1em);
}
.content__button:focus {
	outline: none;
}
